* {
  box-sizing: border-box;
}
body {
  background-color: #baddfd;
  color: #ffffff;
}

main {
  background-color: #000000;
  padding: 20px;
  margin: auto;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.blue {
  background-color: #0064ff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.blue > button {
  width: 100%;
  background-color: #287cff;
  padding: 20px;
  border-radius: 50px;
}

.white_button {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 50px;
  text-align: center;
}
