.icon_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  font-size: 25px;
}
.answer_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.answer_chip {
  background-color: pink;
  padding: 22px;
  border-radius: 50px;
}
